@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "微软雅黑", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  --swiper-theme-color: #cfd9e4!important;
}

dd, div, dl, dt, i, li, p, span, ul {
  word-break: normal;
}

p, span {
  color: #e5dfd9;
}

body, html {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #363d4c;
  background-color: #ffffff;
  font-size: 14px;
  min-width: 320px;
  font-family: "Helvetica Neue", "微软雅黑", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  position: relative;
  overflow-x: hidden;
  background-color: #000;
}

a {
  text-decoration: none;
  color: white;
}

img {
  vertical-align: middle;
  border: 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.header {
  width: 100%;
  height: 80px;
  position: static;
  z-index: 1;
  padding: 27px 0 16px;
  transition: height 0.2s ease-out, opacity 0.2s ease-out, padding 0.2s ease-out;
  text-align: center;
  opacity: 1;
  background-color: black;
  font-size: 12px;
}
.header > img {
  cursor: pointer;
  width: 148px;
  height: 24.08px;
  margin-left: 150px;
}
.header > p {
  display: inline-block;
  position: absolute;
  left: 40px;
}
.header a {
  float: right;
  margin-right: 45px;
  cursor: pointer;
}

body > .content {
  margin: 30px auto;
  min-height: 1000px;
}
body > .content .goodsDetail {
  width: 100%;
  height: 500px;
  display: flex;
}
body > .content .goodsDetail .enlargeBox {
  width: 400px;
  height: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
body > .content .goodsDetail .enlargeBox .show {
  width: 400px;
  height: 400px;
}
body > .content .goodsDetail .enlargeBox .show > img {
  width: 400px;
  padding: 30px;
}
body > .content .goodsDetail .goodsInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px;
}
body > .content .goodsDetail .goodsInfo .btn-default {
  color: white;
}
body > .content .goodsDetail .goodsInfo .desc {
  font-size: 20px;
}
body > .content .goodsDetail .goodsInfo .price {
  font-size: 30px;
  margin: 0 auto;
  margin: 40px;
  text-align: center;
}
body > .content .goodsDetail .goodsInfo .price span {
  color: white;
  margin-bottom: 40px;
}
body > .content .goodsDetail .goodsInfo .num {
  display: flex;
  margin: 0 auto;
}
body > .content .goodsDetail .goodsInfo .num button, body > .content .goodsDetail .goodsInfo .num input {
  height: 43px;
  width: 75px;
  text-align: center;
  border: none;
  margin-bottom: 40px;
}
body > .content .goodsDetail .goodsInfo .getCart {
  margin: 0 auto;
}

.btn-success, .btn-warning {
  color: black;
  background-color: white;
  border-color: white;
  width: 150px;
}

.btn-success:hover {
  color: white;
  background-color: black;
  border-color: white;
}

.btn-warning:hover {
  color: white;
  background-color: black;
  border-color: white;
}

body > .footer {
  width: 100%;
}
body > .footer > .container {
  width: 1215px;
  padding-top: 80px;
  margin: 0 auto;
  min-height: 400px;
}
body > .footer > .container ul {
  float: left;
}
body > .footer > .container ul li {
  display: inline-block;
  font-family: FuturaLT-Book, GucciChinese;
  font-size: 11px;
  color: white;
  letter-spacing: 0;
  vertical-align: middle;
  margin-bottom: 13px;
}
body > .footer > .container ul li > h4 {
  color: #e5dfd9;
  margin-bottom: 28px;
  font-size: 16.5px;
}

/*# sourceMappingURL=detail2.css.map */
